header,
footer {
	height: 10vh;
	background-color: #047495;
	color: #f3f5f5;
	display: flex;
	align-items: center;
}

h1 {
	font-size: 1.8rem;
}

header {
	justify-content: space-around;
}

footer {
	justify-content: space-around;
}

main {
	background-color: #f3f5f5;
	height: 80vh;
	color: #047495;
}

.form {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.button-scan {
	border: 0;
	border-radius: 2rem;
	background-color: #047495;
	color: #f3f5f5;
	padding: 1rem;
	font-size: 1.2rem;
	cursor: pointer;
	transition: transform .3s;
}

.button-scan:hover, .button-scan:active {
	transform: translateY(.3rem);
}

.points {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: .5rem;
	font-size: 1.1rem;
	margin-right: 1rem;
	margin-top: .4rem;
	background-color: #f3f5f5;
	color: #047495;
	padding: .2rem .5rem;
	border-radius: 2rem;
}

.points span {
	display: block;
}

.points svg {
	height: 2rem;
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.qr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.shop {
	display: flex;
	padding: 1rem;
	gap: .5rem;
	margin-top: .5rem;
}

.shop img {
	height: 8rem;
	object-fit: cover;
	margin-bottom: .2rem;
}

.shop button {
	border: 0;
	background-color: transparent;
	display: block;
	width: 50%;
}

article {
	border: 1px solid #047495;
	width: 100%;
}

article svg {
	width: 2rem;
}

h3 {
	text-align: center;
}

h4 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .2rem;
}