header,
footer {
	height: 10vh;
	background-color: #047495;
	color: #f3f5f5;
	display: flex;
	align-items: center;
}

h1 {
	font-size: 1.8rem;
}

header {
	justify-content: space-around;
}

footer {
	justify-content: space-around;
}

main {
	background-color: #f3f5f5;
	height: 80vh;
	color: #047495;
}

.form {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

button {
	border: 0;
	border-radius: 2rem;
	background-color: #047495;
	color: #f3f5f5;
	padding: 1rem;
	font-size: 1.2rem;
	cursor: pointer;
	transition: transform .3s;
}

button:hover, button:active {
	transform: translateY(.3rem);
}

.points {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: .5rem;
	font-size: 1.1rem;
	margin-right: 1rem;
	margin-top: .4rem;
	background-color: #f3f5f5;
	color: #047495;
	padding: .2rem .5rem;
	border-radius: 2rem;
}

.points span {
	display: block;
}

.points svg {
	height: 2rem;
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
}